@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@200;300;400&family=Patrick+Hand&display=swap');

$font-hand: 'Patrick Hand', cursive;
$font-heading: 'Bebas Neue', cursive;
$font-p: 'Mukta', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: $font-p;
}

h1, h2, h3, h4 {
    font-family: $font-heading;
}